.comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
  .comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    textarea {
      width: 100%;
      resize: none;
    }
    .comment-text {
      margin-bottom: 1.25rem;
    }

    .bottom-comment {
      color: #acb4c2;
      font-size: 0.875rem;
      .comment-date {
        padding-top: 1.25rem;
        float: center;
        font-style: italic;
      }
    }
  }
}
